# Variáveis para o servidor
PORT=3001
NODE_ENV=development

# Variáveis para o serviço de e-mail (usado em check-alerts.js)
EMAIL_USER=
EMAIL_PASS=

# Tokens para as APIs externas (usado em check-alerts.js)
TAGO_TOKEN_1=
TAGO_TOKEN_2=

# E-mails para receber os alertas (usado em check-alerts.js)
ALERT_EMAILS=

# Configurações de CORS (Cross-Origin Resource Sharing)
CORS_ORIGINS=http://localhost:3001
